html {
  background-color: whitesmoke;
  height: 1000vh;
  width: 450px;
}
.top-box {
  width: 410px;
  height: 120px;
  background-color: #fac000;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-bar {
  width: 410px;
  height: 40px;
  margin-bottom: 15px;
  padding: 0px 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-var {
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  width: 390px;
  height: 55px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-sizing: border-box;
}
.search-var-box {
  position: absolute;
  top: 70px;
  left: 10px;
}
.search-var__text {
  font-size: 16px;
  font-weight: bold;
  color: #e9e9e9;
}
.today-book {
  margin-top: 50px;
}
.today-book__title,
.top-book__title {
  margin-left: 10px;
}
.today-book__img {
  width: 120px;
  height: 180px;
  border-radius: 10px;
  margin-left: 10px;
}
.center-box {
  display: flex;
}
.today-book-box2 {
  height: 170px;
  margin-left: 20px;
  margin-top: -19px;
}
.today-book__author {
  margin-top: -15px;
  color: #92a2b3;
}
.starimg-box {
  margin-top: -5px;
}
.button1 {
  display: flex;
  margin-top: 15px;
}
.button1-journey,
.button1-biography {
  border-radius: 5px;
  background-color: rgb(233, 231, 231);
  width: 100px;
  height: 28px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1-text {
  margin-top: -2px;
}
.button2 {
  display: flex;
  margin-top: 20px;
}
.button2-bookmarkimg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fac000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2-booknow {
  width: 115px;
  height: 36px;
  background-color: rgb(19, 4, 4);
  border-radius: 5px;
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2-booknow__text {
  color: white;
  font-size: 14px;
}
.top-book {
  margin-top: 20px;
}
.top-book-box {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.top-book__img {
  width: 90px;
  height: 120px;
  border-radius: 5px;
}
.last-box1,
.last-box2 {
  display: flex;
}
.pop-author {
  margin-top: 50px;
}
.pop-author__img {
  width: 130px;
  height: 150px;
  border-radius: 5px;
  margin-left: 20px;
}

.pop-author__text {
  margin-left: 20px;
  margin-top: -13px;
}
